.Slider {
  margin: 0 auto;
  height: 593px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.Slider-Wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .Slider {
    height: 50vh;
  }
}
