.Slider-Arrow {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url(arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
  transition: opacity 0.25s ease;
}

.Slider-Arrow:hover {
  opacity: 0.75;
}

.Slider-Arrow_type_left {
  left: 80px;
}

.Slider-Arrow_type_right {
  right: 80px;
  transform: translateY(-50%) rotate(180deg)
}