.Page {
  font-family: 'Glober', 'Roboto', 'Arial';
  font-weight: 400;
  background-color: #fff;
}

.Menu-Wrapper {
  background-color: #fafafa;
  margin-top: 8px;
}

.Page-Menu {
  max-width: 1180px;
  margin: 0 auto;
}

.Page-Main {
  margin-top: 53px;
}

.Footer-Wrapper {
  background-color: #1d2124;
  margin-top: 25px;
}

.Page-Footer {
  max-width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .Menu-Wrapper {
    margin-top: 15px;
  }
}

@media screen and (max-width: 515px) {
  .Footer-Wrapper {
    margin-top: 0;
  }
}