.Page {
  font-family: 'Glober', 'Roboto', 'Arial';
  font-weight: 400;
  background-color: #fff;
}

.Page-Container {
  width: 100vw;
  background-color: #fafafa;
}

.Page-Menu {
  max-width: 1180px;
  margin: 0 auto;
}