body {
  padding: 0;
  margin: 0;
  height: 100000px;
  overflow-x: hidden;
}

.Page {
  width: 100vw;
  height: 100vh;
}

#Canvas {
  position: fixed;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}